* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    margin-top: 1em;
}

.profile_picture img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

a:hover {
    text-decoration: underline;
}

nav img {
    width: 20px;
    height: 20px;
}

main {
    width: 50%;
    margin: 6.3em auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 30px;
}

.buttons {
    margin-top: 1em;
}

.buttons button {
    padding: 1em;
    border: none;
}

footer {
    background-color: rgb(224, 216, 216);
    margin-top: 10em;
}

.footer_top {
    padding: 1em;
}

.footer_buttons {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

.left_footer a {
    margin-right: 1em;
}

.center_footer img {
    width: 12px;
    height: 12px;
    padding-right: .5em;
}

.right_footer a {
    margin-right: 1em;
}