nav {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.navpicture img {
    border-radius: 50%;
}

main {
    text-align: center;
}

main a {
    padding: 0px 3px 0px 3px;
}

footer a {
    padding: 0px 10px 0px 10px;
}

.img-figure img {
    margin: 50px auto;
}